@mixin flex-center($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin button($bg, $color, $shadow-color) {
    padding: 14px 20px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    box-shadow: 0 4px 5px $shadow-color;
    background-color: $bg;
    color: $color;
}

@mixin margin-padding($m-direction, $m-amount, $p-direction, $p-amount) {
  @if $m-direction == all {
    margin: $m-amount;
  } @else {
    margin-#{$m-direction}: $m-amount;
  }
  @if $p-direction == all {
    padding: $p-amount;
  } @else {
    padding-#{$p-direction}: $p-amount;
  }
}