// Colores
$color-principal: #5265E1;
$color-secundario: #FA5959;
$color-terciario: rgb(35, 41, 72);
$blanco: #FBFBFB;
$gris-sombra: #CCCCCC;
$gris-fuente: #808080;
$negro: #000000;

// Fuente
$font-main: 'Arial';