/*-----------------------------------*\ 
    #GUIA D'ESTILS
\*-----------------------------------*/

:root {
    --color-principal: #5265E1;
    --color-secundario: #FA5959;
    --blanco:#FBFBFB;
    --gris:#808080;
    --negro:#000000;

    --sombra: 0px 2px var(--negro);

    --Arial: 'Arial';
}

/*-----------------------------------*\ 
    #MOBILE FIRST
\*-----------------------------------*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--Arial);
    background-color: var(--blanco);
    padding: 0 10%;
}

/* * * * * * * * * * * * * * * * * * * * *
    * HEADER
* * * * * * * * * * * * * * * * * * * * */
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero img{
    width: 100%;
}

h2{
    font-size: 28px;
    text-align: center;
}

.hero .gray-text{
    font-size: 18px;
    text-align: center;
    padding: 2rem 0;
    color: var(--gris);
}

.hero .buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.blue-button{
    width: 48%;
    padding: 12px 0;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    color: var(--blanco);
    background-color: var(--color-principal);
}


