@import "tailwindcss";

@font-face {
    font-family: 'Rubik';
    src: url();
}

@theme{
    --color-primary: #5267DF;
    --color-secondary: #FA5959;
    --color-terciary: #242A45;
    --color-black: #000;
    --color-gray: #e0e0e0;
    --color-white: #fff;

    --font-sans:'Rubik', system-ui, sans-serif;
}